/*Initializes the colors (i think these are too dark*/
:root {
    --dark-blue: #0F084B;
    --medium-blue: #26408B;
    --light-blue: #A6CFD5;
}
/*Resets styling, see stackoverflow*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: var(--dark-blue);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--medium-blue);
    color: white;

}


.login-section a {
    text-decoration: none;
    color: white; 
    font-size: 16px; 
}

.login-box { /*Really similar to header*/
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 320px;
    padding: 4px 6px;
    background-color: var(--light-blue);
    /*padding: 0.5em;*/
    /*margin: 1em;*/
    border-radius: 8px;
    font-size: 14px;
}


nav, table, th, td, button, input, .login-box { /*Trying to round the corners of the rectangles*/ 
    border-radius: 8px;
}
nav {
     background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
nav a {
    color: var(--light-blue);
    text-decoration: none;
    padding: 0.5em;
    border-radius: 8px;
}

/*Makes it so when you hover over hte actual links, they "pop" out*/
nav a:hover {
    background-color: var(--medium-blue);
}
.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.main-nav li a:hover {
    text-decoration: underline;
}
main {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--medium-blue);
    padding: 0.5em;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

input, button {
    padding: 0.5em;
}



footer {
    background-color: var(--dark-blue);
    color: var(white);
    text-align: center;
    padding: 1em;
}

/*Responseive design? Ripped from CSS github tutorial*/
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    main {
        padding: 0.5em;
    }
}

@media (max-width: 480px) {
    header, footer {
        padding: 0.5em;
    }

    nav a {
        padding: 0.25em;
    }

    form input, form button {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .login-box {
        position: column;
        margin: 0.5em 0;
    }
}
